POD_ARTWORK_DATA=
POD_ENGINE_HOST=127.0.0.1
POD_ENGINE_PORT=8765
POD_CPU_SOFT_THREADS=
POD_RAM_SOFT_GB=
POD_RAM_HARD_GB=
POD_RELEASE_CHANNEL=stable
POD_RELEASE_MANIFEST_URL=
POD_REMOTE_PROVIDER_URL=
POD_REMOTE_PROVIDER_TOKEN=
POD_REMOTE_PROVIDER_NAME=remote
POD_REMOTE_PROVIDER_TIMEOUT_SECONDS=120
POD_PROVIDER_RECIPE_PATH=
POD_QC_POLICY_PATH=
POD_ROUTER_POLICY_PATH=
POD_LOCAL_OCR_ENABLED=1
POD_VISUAL_FONT_MATCH_ENABLED=1
POD_VISUAL_FONT_MATCH_MIN_SCORE=0.72
POD_VISUAL_FONT_MATCH_MIN_MARGIN=0.035
POD_VISUAL_FONT_MATCH_MAX_CANDIDATES=96
POD_TESSERACT_PATH=
POD_TESSERACT_LANGUAGE=eng
